body{
	font-family: "Helvetica";
	text-align: center;
}

.container{
	margin: 20px;
}

.puppy{
	width: 300px;
	height: 180px;
	margin: 5px;
	display: inline-block;
	list-style: none;
}

.shake{
	-webkit-animation: shake 2s;
	animation: shake 2s;
}

.hop{
	-webkit-animation: hop 2s;
}

.spin{
	-webkit-animation: spin 2s;
}

.grow{
	-webkit-animation: grow 2s;
}

.hooray{
	-webkit-animation: hooray 2s;
}

.wobble{
	-webkit-animation: wobble 2s;
}

.swing{
	-webkit-animation: swing 2s;
}

@keyframes shake {
	0%, 100% {transform: translateY(0);}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {transform: translateY(-20px);}
	10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {transform: translateY(20px);}
}

@keyframes hop {
	0% {transform: translateX(0);}
	12% {transform: translateY(-100px) rotate(-20deg);}
	25% {transform: translateX(-20px);}
	37% {transform: translateY(-100px) rotate(20deg);}
	50% {transform: translateX(20px);}
	62% {transform: translateY(-100px) rotate(-20deg);}
	75% {transform: translateX(-20px);}
	87% {transform: translateY(-100px) rotate(20deg);}
	100% {transform: translateX(0);}
}

@keyframes spin {
	0% {transform: rotate(0deg)}
	8% {transform: rotate(-50deg)}
	12% {transform: rotate(-50deg) }
	100% {transform: rotate(3600deg)}
}

@keyframes grow {
	0% { transform: scale(1); }
	75% { transform: scale(2.5); }
	90% { transform: scale(0.6); }
	93% { transform: scale(1.4); }
	95% { transform: scale(0.8); }
	97% { transform: scale(1.2); }
	100% { transform: scale(1); }
}

@keyframes hooray {
	0% {transform: translateX(0) translateY(0) scale(1, 1);}
	10% {transform: translateX(60px) translateY(-60px) scale(1.5, 1.5);}
	20% {transform: translateX(0) translateY(0) scale(.7, .7);}
	30% {transform: translateX(-60px) translateY(-60px) scale(1.5, 1.5);}
	40% {transform: translateX(0) translateY(0) scale(.7, .7);}
	50% {transform: translateX(60px) translateY(-60px) scale(1.5, 1.5);}
	60% {transform: translateX(0) translateY(0) scale(.7, .7);}
	70% {transform: translateX(-60px) translateY(-60px) scale(1.5, 1.5);}	
	80% {transform: translateX(0) translateY(0) scale(.7, .7);}
	90% {transform: translateX(60px) translateY(-60px) scale(1.5, 1.5);}
	100% {transform: translateX(0) translateY(0) scale(1, 1);}
}

@keyframes wobble {
	0% { transform: translateX(0) translateY(0) scale(1); }
	5% { transform: translateX(-100px) translateY(10px) scale(1); }
	10% { transform: translateX(0) translateY(0) scale(1); }
	15% { transform: translateX(100px) translateY(10px) scale(1); }
	20% { transform: translateX(0) translateY(0) scale(1); }
	25% { transform: translateX(-50px) translateY(5px) scale(1); }
	30% { transform: translateX(0) translateY(0) scale(1); }
	35% { transform: translateX(50px) translateY(5px) scale(1); }
	40% { transform: translateX(0) translateY(0) scale(1); }
	45% { transform: translateX(-25px) translateY(2.5px) scale(1); }
	50% { transform: translateX(0) translateY(0) scale(1); }
	55% { transform: translateX(25px) translateY(2.5px) scale(1); }
	60% { transform: translateX(0) translateY(0) scale(1); }
	65% { transform: translateX(-12px) translateY(1.2px) scale(1); }
	70% { transform: translateX(0) translateY(0) scale(1); }
	75% { transform: translateX(12px) translateY(1.2px) scale(1); }
	80% { transform: translateX(0) translateY(0) scale(1); }
	85% { transform: translateX(-6px) translateY(0.6px) scale(1); }
	90% { transform: translateX(0) translateY(0) scale(1); }
	95% { transform: translateX(6px) translateY(0.6px) scale(1); }
	100% { transform: translateX(0) translateY(0) scale(1); }
}

@keyframes swing {
	0% {transform: rotate(0deg)}
	14% {transform: rotate(-20deg)}
	28% {transform: rotate(20deg) }
	42% {transform: rotate(-20deg)}
	56% {transform: rotate(15deg)}
	70% {transform: rotate(-15deg) }
	85% {transform: rotate(15deg)}
	100% {transform: rotate(0deg)}
}

