body{
	font-family: "Helvetica";
	/*min-height: 600px;*/
}

.container{
	position: relative;
}

.right{
	width: 50%;
	float: right;
}

.left{
	width: 50%;
	height: 100px;
	float: left;
}

.ball{
	background-color: #f1c40f;
	border-radius: 50%;
}

.message{
	transform: translate(-60%);
	left: 60%;
	top: 200px;
	text-align: center;
	position: absolute;
}

.rule{
	width: 300px;
	margin: 50px 150px;
}