
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

/*$turquoise: #F7CAC9;*/
$turquoise: #91A8D0;
/*$turquoise: #88B04B;*/
/*$turquoise: #838487;*/
@import 'node_modules/bulma/bulma.sass';

.portfolio-detail hr{
	margin: 60px 0;
}

[v-cloak] {
	display: none;
}

.portfolio-detail h3,p,li{
	margin: 30px 0;
}

.portfolio-image{
	padding: 10px;
	background-color: #f5f5f5;
}

.about-me-item{
	margin-bottom: 50px;
}