body{
	min-height: 100%;
	position: relative;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	background-color: #000;
	color: white;
}

.container{
	text-align: center;
}

h1{
	font-size: 48px;
}

.clock{
	font-size: 130px;
	display: inline-block;
}
