body{
	background-color: green;
}

.btn{
	width: 120px;
	height: 44px;
	background-color: rgb(231, 76, 60);
	line-height: 20px;
	font-size: 20px;
	box-shadow: 2px 2px 2px rgb(52, 73, 94);
}

.btn:focus{
	outline: none;
}

.text-centred{
	text-align: center;
}

.btn-container{
	margin-top: 100px;
}


