body{
	font-family: "Helvetica";
	background-color: rgb(170,170,170);
}

.text-center{
	text-align: center;
}

.container{
	width: 900px;
	height: 500px;
	background-color: rgb(255, 253, 227) ;
	position: absolute;
	transform: translate(-50%);
	left:50%;
	padding: 40px;
}

.left{
	float: left;
}

.right{
	height: 100%;
	margin-left: 15%;
	border: 1px solid black;
	background-color: white;
}

.color{
	width: 60px;
	height: 60px;
	margin-bottom: 20px;
	border: 1px solid black;
}

.red{
	background-color: rgb(231, 76, 60);
}

.yellow{
	background-color: rgb(241, 196, 15);
}

.blue{
	background-color: rgb(52, 152, 219);
}

.white{
	background-color: rgb(255, 255, 255);
}

.row{
	padding:0px !important;
	margin: 0px !important;
}

.row li{
	list-style-type: none;
	display: inline-block;
}

.pt{
	box-shadow: -10px -10px 0px 0px black inset;
}

.last-pt{
	box-shadow: 0px -10px 0px 0px black inset;
}

.pt1{
	width: 18%;
	height: 100%;
}

.pt2{
	width: 40%;
	height: 100%;
}

.pt3{
	width: 15%;
	height: 100%;
}

.pt4{
	width: 27%;
	height: 100%;
}

.row4 .pt{
	box-shadow: -10px 0px 0px 0px black inset !important;
}

.row4 .last-pt{
	box-shadow: 0px 0px 0px 0px black inset !important;
}

.row1{
	height: 20%;
}

.row2{
	height: 40%;
}

.row3{
	height: 15%;
}

.row4{
	height: 25%;
}

.reset{
	width: 100px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	border-radius: 5px;
}

.reset:focus{
	outline: none;
}
